APP_URL=http://localhost:5173


PORT=8080
API_URL=http://localhost:8080
NODE_ENV=dev
JWT_SECRET=your_jwt_secret

DATABASE_URL=postgresql://username.cvocxoicvxnsdf:password@region.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://username.cvocxoicvxnsdf:password@region.pooler.supabase.com:5432/postgres